<h1 class="page-header">Club school team page</h1>

<section class="card">
  <section class="card-header">
    Info
  </section>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Name:</strong>
      <%= @club_team.name %>
    </li>
    <li class="list-group-item">
      <strong>Coach:</strong>
      <%= render "shared/person", person: @club_team.coach %>
    </li>
    <li class="list-group-item">
      <strong>Manager:</strong>
      <%= render "shared/person", person: @club_team.manager %>
    </li>
    <li class="list-group-item">
      <strong>Location:</strong>
      <%= @club_team.location %>
    </li>
  </ul>
</section>

<br>
<h4>Players</h4>
<%= render "players/table", players: @players, filters_url: club_team_path(@club_team), sort_column: players_table_sort_column, sort_direction: sort_direction, excludes: [:club_team] %>

<%= link_to 'Edit', edit_club_team_path if is_admin? %>
