<%= form_with model: @tournament, class: 'tournament-form' do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <section class="games">
    <%= f.fields_for :games do |game| %>
      <%= render 'game_fields', f: game %>
    <% end %>
    <hr>
    <p>
      <%= link_to_add_association "Add game", f, :games,
      data: {
        association_insertion_node: '.games',
        association_insertion_method: :prepend
      }
      %>
    </p>
  </section>

  <p>
    <%= f.submit %>
  </p>
<% end %>
