<h1 class="page-header">Tournaments</h1>

<p><%= link_to "Create a new tournament", new_tournament_path, class: "btn btn-primary" if is_admin? %></p>

<table class="table table-hover">
  <tr>
    <th>Tournament</th>
    <th>Dates</th>
    <th>Location</th>
    <% if is_admin? %>
      <th>Edit</th>
      <th>Delete</th>
    <% end %>
  </tr>

  <% @tournaments.each do |tournament| %>
    <tr>
      <td><%= link_to tournament.name, tournament_path(tournament) %></td>
      <td><%= tournament.date_range %></td>
      <td><%= tournament.location %></td>
      <% if is_admin? %>
        <td><%= link_to "Edit", edit_tournament_path(tournament) %></td>
        <td><%= link_to 'Delete', tournament_path(tournament),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
