<h1 class="page-header">Tournament: <%= @tournament.name %></h1>

<section class="card bg-light">
  <section class="card-header">
    Filters
  </section>
  <section class="card-body">
    <%= form_with url: tournament_path(@tournament), method: :get, local: true do |f| %>
      <section class="row">
        <section class="col-md">
          <span>Players:</span>
          <% @filter_options[:players].each do |player| %>
            <section class="form-check">
              <label class="form-check-label">
                <%= f.check_box "player_filters[]", { class: "form-check-input", checked: params[:player_filters].try(:include?, player.id.to_s) }, player.id, nil %>
                <%= player.full_name %>
              </label>
            </section>
          <% end %>
        </section>
        <section class="col-md">
          <span>Teams:</span>
          <% @filter_options[:teams].each do |team| %>
            <section class="form-check">
              <label class="form-check-label">
                <%= f.check_box "team_filters[]", { class: "form-check-input", checked: params[:team_filters].try(:include?, "#{team.class}-#{team.id}") }, "#{team.class}-#{team.id}", nil %>
                <%= team.name %>
              </label>
            </section>
          <% end %>
        </section>
        <section class="col-md">
          <span>Dates:</span>
          <% @filter_options[:dates].each do |date| %>
            <section class="form-check">
              <label class="form-check-label">
                <%= f.check_box "date_filters[]", { class: "form-check-input", checked: params[:date_filters].try(:include?, date.to_s) }, date, nil %>
                <%= date.to_formatted_s(:long) %>
              </label>
            </section>
          <% end %>
        </section>
        <section class="col-md">
          <span>Fields:</span>
          <% @filter_options[:fields].each do |field| %>
            <section class="form-check">
              <label class="form-check-label">
                <%= f.check_box "field_filters[]", { class: "form-check-input", checked: params[:field_filters].try(:include?, field.id.to_s) }, field.id, nil %>
                <%= field.name %>
              </label>
            </section>
          <% end %>
        </section>
        <section class="col-md">
          <span>Time:</span>
          <section class="form-group">
            <%= f.label :earliest_start_time %>
            <%= f.time_field :earliest_start_time, value: params[:earliest_start_time], class: "form-control" %>
          </section>
          <section class="form-group">
            <%= f.label :latest_start_time %>
            <%= f.time_field :latest_start_time, value: params[:latest_start_time], class: "form-control" %>
          </section>
        </section>
      </section>
      <hr>
      <%= submit_tag "Apply filters", class: "btn btn-secondary" %>
    <% end %>
  </section>
</section>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable "id", "Game ID" %></th>
      <th><%= sortable "team_one" %></th>
      <th><%= sortable "team_two" %></th>
      <th><%= sortable "date" %></th>
      <th><%= sortable "start_time" %></th>
      <th><%= sortable "field" %></th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.id, game_path(game) %></td>
        <td><%= link_to game.team_one.name, team_path(game.team_one) %></td>
        <td><%= link_to game.team_two.name, team_path(game.team_two) %></td>
        <td><%= game.date.to_formatted_s(:long) %></td>
        <td><%= game.start_time.strftime("%I:%M %p") %></td>
        <td><%= link_to game.field.name, field_path(game.field) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_tournament_path %>
