<h1 class="page-header">Tournament: <%= @tournament.name %></h1>

<section class="row">
  <section class="col-lg-3">
    <section class="card bg-light filters">
      <section class="card-header">
        Filters
      </section>
      <section class="card-body">
        <%= form_with url: tournament_path(@tournament), method: :get, local: true do |f| %>
          <%= hidden_field_tag 'sort', params[:sort] if params[:sort] %>
          <%= hidden_field_tag 'direction', params[:direction] if params[:direction] %>
          <%= hidden_field_tag 'page', params[:page] if params[:page] %>
          <% if !@filter_options[:player_lists].empty? %>
            <section class="filter-category filter-category-fixed-height">
              <span>Players lists:</span>
              <% @filter_options[:player_lists].each do |player_list| %>
                <section class="form-check">
                  <label class="form-check-label">
                    <%= f.check_box "player_list_filters[]", { class: "form-check-input", checked: params[:player_list_filters].try(:include?, player_list.id.to_s) }, player_list.id, nil %>
                    <%= player_list.name %>
                  </label>
                </section>
              <% end %>
            </section>
          <% end %>
          <section class="filter-category filter-category-fixed-height">
            <span>Players:</span>
            <% @filter_options[:players].each do |player| %>
              <section class="form-check">
                <label class="form-check-label">
                  <%= f.check_box "player_filters[]", { class: "form-check-input", checked: !@filters_to_apply || params[:player_filters].try(:include?, player.id.to_s) }, player.id, nil %>
                  <%= player.full_name %>
                </label>
              </section>
            <% end %>
          </section>
          <section class="filter-category filter-category-fixed-height">
            <span>Teams:</span>
            <% @filter_options[:teams].each do |team| %>
              <section class="form-check">
                <label class="form-check-label">
                  <%= f.check_box "team_filters[]", { class: "form-check-input", checked: !@filters_to_apply || params[:team_filters].try(:include?, team.id.to_s) }, team.id, nil %>
                  <%= team.full_name %>
                </label>
              </section>
            <% end %>
          </section>
          <section class="filter-category">
            <span>Dates:</span>
            <% @filter_options[:dates].each do |date| %>
              <section class="form-check">
                <label class="form-check-label">
                  <%= f.check_box "date_filters[]", { class: "form-check-input", checked: !@filters_to_apply || params[:date_filters].try(:include?, date.to_s) }, date, nil %>
                  <%= date.to_formatted_s(:long) %>
                </label>
              </section>
            <% end %>
          </section>
          <section class="filter-category">
            <span>Fields:</span>
            <% @filter_options[:fields].each do |field| %>
              <section class="form-check">
                <label class="form-check-label">
                  <%= f.check_box "field_filters[]", { class: "form-check-input", checked: !@filters_to_apply || params[:field_filters].try(:include?, field.id.to_s) }, field.id, nil %>
                  <%= field.name %>
                </label>
              </section>
            <% end %>
          </section>
          <section class="filter-category">
            <span>Time:</span>
            <section class="form-group">
              <%= f.label :earliest_start_time %>
              <%= f.time_field :earliest_start_time, value: params[:earliest_start_time], class: "form-control" %>
            </section>
            <section class="form-group">
              <%= f.label :latest_start_time %>
              <%= f.time_field :latest_start_time, value: params[:latest_start_time], class: "form-control" %>
            </section>
          </section>
          <hr>
          <%= submit_tag "Apply filters", class: "btn btn-secondary btn-block" %>
        <% end %>
      </section>
    </section>
  </section>
  <section class="col-lg-9">
    <section class="card">
      <section class="card-header">
        Director
      </section>
      <section class="card-body">
        <%= render "shared/person", person: @tournament.tournament_director %>
        <%= render "shared/address", address: @tournament.tournament_director.address %>
      </section>
    </section>
    <table class="table">
      <thead>
        <tr>
          <th><%= sortable "id", sort_column, sort_direction, "Game ID" %></th>
          <th><%= sortable "team_one", sort_column, sort_direction%></th>
          <th><%= sortable "team_two", sort_column, sort_direction %></th>
          <th><%= sortable "date", sort_column, sort_direction %></th>
          <th><%= sortable "start_time", sort_column, sort_direction %></th>
          <th><%= sortable "field", sort_column, sort_direction %></th>
          <th>Field number</th>
        </tr>
      </thead>
      <tbody>
        <% @games.each do |game| %>
          <tr>
            <td><%= link_to game.id, game_path(game) %></td>
            <td><%= link_to game.team_one.full_name, team_path(game.team_one) %></td>
            <td><%= link_to game.team_two.full_name, team_path(game.team_two) %></td>
            <td><%= game.date.to_formatted_s(:long) if game.date %></td>
            <td><%= game.start_time.strftime("%I:%M %p") if game.start_time %></td>
            <td><%= link_to game.field.name, field_path(game.field) if game.field %></td>
            <td><%= game.field_number %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= render "shared/pagination", curr_page: @curr_page, num_pages: (@num_filtered_games / Game.ITEMS_PER_PAGE).ceil %>
  </section>
</section>

<%= link_to 'Edit', edit_tournament_path if is_admin? %>
