<section>
  <% if Team.all.count < 2 %>
    <p>You neeed at least two teams to create a game. Create more high school and/or club teams first.</p>
  <% else %>
    <section class="game-form">
      <section class="form-group">
        <%= f.label :team_one %>
        <%= render 'games/team_select', f: f, team_number: "one", game: game %>
      </section>
      <section class="form-group">
        <%= f.label :team_two %>
        <%= render 'games/team_select', f: f, team_number: "two", game: game %>
      </section>
      <section class="form-group">
        <%= f.label :field %>
        <%= f.collection_select(:field_id, Field.all, :id, :name, {}, class: "form-control") %>
      </section>
      <section class="form-group">
        <%= f.label :field_number %>
        <%= f.text_field :field_number, class: "form-control" %>
      </section>
      <section class="form-group">
        <%= f.label :date %>
        <%= f.date_field :date, class: "form-control" %>
      </section>
      <section class="form-group">
        <%= f.label :start_time %>
        <%= f.time_field :start_time, class: "form-control" %>
      </section>
    </section>
  <% end %>
</section>
