<h1 class="page-header">Game page</h1>

<section class="card">
  <section class="card-header">
    Info
  </section>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Team one:</strong>
      <%= link_to @game.team_one.name, team_path(@game.team_one) %>
    </li>
    <li class="list-group-item">
      <strong>Team two:</strong>
      <%= link_to @game.team_two.name, team_path(@game.team_two) %>
    </li>
    <li class="list-group-item">
      <strong>Tournament:</strong>
      <%= link_to @game.tournament.name, tournament_path(@game.tournament) %>
    </li>
    <li class="list-group-item">
      <strong>Field:</strong>
      <%= link_to @game.field.name, field_path(@game.field) if @game.field %>
    </li>
    <li class="list-group-item">
      <strong>Field number:</strong>
      <%= @game.field_number %>
    </li>
    <li class="list-group-item">
      <strong>Date:</strong>
      <%= @game.date.to_formatted_s(:long) if @game.date %>
    </li>
    <li class="list-group-item">
      <strong>Start time:</strong>
      <%= @game.start_time.strftime("%I:%M %p") if @game.start_time %>
    </li>
  </ul>
</section>

<%= link_to 'Edit', edit_game_path if is_admin? %>
