<%= form_with model: @high_school_team do |f| %>
  <p>
    <%= f.label :school_name %><br>
    <%= f.text_field :school_name %>
  </p>
  <p>
    <%= f.label :team_name %><br>
    <%= f.text_field :team_name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
