<h1 class="page-header">High school teams</h1>

<p><%= link_to "Create a new high school team", new_high_school_team_path, class: "btn btn-primary" if is_admin? %></p>

<table class="table table-hover">
  <tr>
    <th><%= sortable "name", sort_column, sort_direction %></th>
    <th><%= sortable "location", sort_column, sort_direction %></th>
    <th><%= sortable "coach", sort_column, sort_direction %></th>
    <th><%= sortable "manager", sort_column, sort_direction %></th>
    <% if is_admin? %>
      <th>Edit</th>
      <th>Delete</th>
    <% end %>
  </tr>

  <% @high_school_teams.each do |high_school_team| %>
    <tr>
      <td><%= link_to high_school_team.full_name, high_school_team_path(high_school_team) %></td>
      <td><%= high_school_team.location %></td>
      <td><%= high_school_team.coach.full_name %></td>
      <td><%= high_school_team.manager.full_name %></td>
      <% if is_admin? %>
        <td><%= link_to "Edit", edit_high_school_team_path(high_school_team) %></td>
        <td><%= link_to 'Delete', high_school_team_path(high_school_team),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
