<h1 class="page-header">High school team page</h1>

<section class="card">
  <section class="card-header">
    Info
  </section>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>School name:</strong>
      <%= @high_school_team.school_name %>
    </li>
    <li class="list-group-item">
      <strong>Team name:</strong>
      <%= @high_school_team.team_name %>
    </li>
    <li class="list-group-item">
      <strong>Coach:</strong>
      <%= render "shared/person", person: @high_school_team.coach %>
    </li>
    <li class="list-group-item">
      <strong>Manager:</strong>
      <%= render "shared/person", person: @high_school_team.manager %>
    </li>
    <li class="list-group-item">
      <strong>Address:</strong>
      <%= render "shared/address", address: @high_school_team.address %>
    </li>
  </ul>
</section>

<br>
<h4>Players</h4>
<%= render "players/table", players: @players, filters_url: high_school_team_path(@high_school_team), sort_column: players_table_sort_column, sort_direction: sort_direction, excludes: [:high_school_team] %>

<%= link_to 'Edit', edit_high_school_team_path if is_admin? %>
