<h1>High school team page</h1>

<p>
  <strong>School name:</strong>
  <%= @high_school_team.school_name %>
</p>

<p>
  <strong>Team name:</strong>
  <%= @high_school_team.team_name %>
</p>

<p>
  Players:
  <ol>
    <% @high_school_team.players.each do |player| %>
      <li><%= link_to player.full_name, player_path(player) %></li>
    <% end %>
  </ol>
</p>

<%= link_to 'Edit', edit_high_school_team_path %>
<%= link_to 'Back', high_school_teams_path %>
