<%= form_with model: @player do |f| %>
  <section class="card">
    <section class="card-header">
      Name
    </section>
    <section class="card-body">
      <section class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control" %>
      </section>
      <section class="form-group">
        <%= f.label :middle_name %>
        <%= f.text_field :middle_name, class: "form-control" %>
      </section>
      <section class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
      </section>
    </section>
  </section>
  <section class="card">
    <section class="card-header">
      Athletic
    </section>
    <section class="card-body">
      <section class="form-group">
        <%= f.label "Height (feet)" %>
        <%= f.number_field :feet_component_of_height, class: "form-control", in: 3..7 %>
      </section>
      <section class="form-group">
        <%= f.label "Height (inches)" %>
        <%= f.number_field :inches_component_of_height, class: "form-control", in: 0..11.5, step: 0.5 %>
      </section>
      <section class="form-group">
        <%= f.label :weight, "Weight (lbs)" %>
        <%= f.number_field :weight, class: "form-control", in: 60..400, step: 5 %>
      </section>
      <section class="form-group">
        <%= f.label :birthday %>
        <%= f.date_field :birthday, class: "form-control" %>
      </section>
      <section class="form-group">
        <%= f.label :position %>
        <%= f.text_field :position, class: "form-control" %>
      </section>
      <section class="form-group">
        <%= f.label :secondary_position %>
        <%= f.text_field :secondary_position, class: "form-control" %>
      </section>
      <section class="form-group">
        <%= f.label :tertiary_position %>
        <%= f.text_field :tertiary_position, class: "form-control" %>
      </section>
      <section class="form-group">
        <%= f.label :high_school_team %>
        <%= f.collection_select(:high_school_team_id, HighSchoolTeam.all, :id, :full_name, { include_blank: true }, class: "form-control") %>
      </section>
      <section class="form-group">
        <%= f.label :club_team %>
        <%= f.collection_select(:club_team_id, ClubTeam.all, :id, :name, { include_blank: true }, class: "form-control") %>
      </section>
    </section>
  </section>

  <section class="card">
    <section class="card-header">
      Academic
    </section>
    <section class="card-body">
      <section class="form-group">
        <%= f.label :class_year %>
        <%= f.select(:class_year, ['Freshman', 'Sophomore', 'Junior', 'Senior'], { include_blank: true }, class: "form-control") %>
      </section>
      <section class="form-group">
        <%= f.label :gpa, "GPA" %>
        <%= f.number_field :gpa, class: "form-control", in: 0..4, step: 0.05 %>
      </section>
      <section class="form-group">
        <%= f.label :sat_score, "SAT" %>
        <%= f.number_field :sat_score, class: "form-control", in: 400..1600, step: 10 %>
      </section>
      <section class="form-group">
        <%= f.label :psat_score, "PSAT" %>
        <%= f.number_field :psat_score, class: "form-control", in: 400..1600, step: 10 %>
      </section>
      <section class="form-group">
        <%= f.label :act_score, "ACT" %>
        <%= f.number_field :act_score, class: "form-control", in: 1..36, step: 1 %>
      </section>
      <section class="form-group">
        <%= f.label :intended_major %>
        <%= f.text_field :intended_major, class: "form-control" %>
      </section>
    </section>
  </section>

  <section class="card">
    <section class="card-header">
      Contact
    </section>
    <section class="card-body">
      <section class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </section>
      <section class="form-group">
        <%= f.label :phone_number %>
        <%= f.phone_field :phone_number, class: "form-control" %>
      </section>
      <%= render "shared/address_form", f: f %>
    </section>
  </section>
  <section class="card">
    <section class="card-header">
      Notes
    </section>
    <section class="card-body">
      <%= f.rich_text_area :notes, class: "form-control" %>
    </section>
  </section>


  <section class="form-group">
    <%= f.submit nil, class: "btn btn-primary" %>
  </section>
<% end %>
