<%= form_with model: @player do |f| %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :middle_name %><br>
    <%= f.text_field :middle_name %>
  </p>

  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </p>

  <p>
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </p>

  <p>
    <%= f.label :birthday %><br>
    <%= f.month_field :birthday %>
  </p>

  <p>
    <%= f.label :high_school_team %><br>
    <%= f.collection_select(:high_school_team_id, HighSchoolTeam.all, :id, :school_name) %>
  </p>

  <p>
    <%= f.label :club_team %><br>
    <%= f.collection_select(:club_team_id, ClubTeam.all, :id, :name) %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :phone_number %><br>
    <%= f.phone_field :phone_number %>
  </p>

  <%= f.fields_for :address do |address_form| %>
    <p>
      <%= address_form.label :address_line_one %><br>
      <%= address_form.text_field :line_one %>
    </p>

    <p>
      <%= address_form.label :address_line_two %><br>
      <%= address_form.text_field :line_two %>
    </p>

    <p>
      <%= address_form.label :city %><br>
      <%= address_form.text_field :city %>
    </p>

    <p>
      <%= address_form.label :state %><br>
      <%= address_form.text_field :state %>
    </p>

    <p>
      <%= address_form.label :zip %><br>
      <%= address_form.text_field :zip %>
    </p>
  <% end %>

  <p>
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
