<h1 class="page-header"><%= @player.full_name_with_middle %></h1>

<section class="card">
  <section class="card-header">
    Athletic
  </section>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Height:</strong>
      <%= @player.display_height %>
    </li>
    <li class="list-group-item">
      <strong>Weight:</strong>
      <%= @player.weight %>
    </li>
    <li class="list-group-item">
      <strong>Age:</strong>
      <%= @player.age %>
    </li>
    <li class="list-group-item">
      <strong>High school:</strong>
      <%= link_to @player.high_school_team.full_name, high_school_team_path(@player.high_school_team) if @player.try(:high_school_team).try(:school_name) %>
    </li>
    <li class="list-group-item">
      <strong>Club team:</strong>
      <%= link_to @player.club_team.name, club_team_path(@player.club_team) if @player.club_team.try(:name) %>
    </li>
  </ul>
</section>

<section class="card">
  <section class="card-header">
    Academic
  </section>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>GPA:</strong>
      <%= @player.gpa %>
    </li>
    <li class="list-group-item">
      <strong>Class year:</strong>
      <%= @player.class_year %>
    </li>
    <li class="list-group-item">
      <strong>Intended major:</strong>
      <%= @player.intended_major %>
    </li>
  </ul>
</section>

<section class="card">
  <section class="card-header">
    Contact
  </section>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Email:</strong>
      <%= mail_to @player.email %>
    </li>
    <li class="list-group-item">
      <strong>Phone number:</strong>
      <%= @player.phone_number %>
    </li>
    <li class="list-group-item">
      <strong>Address:</strong>
      <%= render 'shared/address', address: @player.address %>
    </li>
  </ul>
</section>

<section class="card">
  <section class="card-header">
    Notes
  </section>
  <section class="card-body">
    <%= @player.notes %>
  </section>
</section>

<section class="card">
  <section class="card-header">
    My notes
  </section>
  <section class="card-body">
    <%= form_with model: @player_note, url: "/players/#{@player.id}/create_or_update_player_note" do |f| %>
      <%= f.rich_text_area :notes, class: "form-control" %><br>
      <%= f.submit nil, class: "btn btn-primary" %>
    <% end %>
  </section>
</section>

<%= link_to 'Edit', edit_player_path if is_admin? %>
