<h1>Field page</h1>

<p>
  <strong>Name:</strong>
  <%= @field.name %>
</p>

<p>
  <strong>Address line one:</strong>
  <%= @field.address.line_one %>
</p>

<p>
  <strong>Address line two:</strong>
  <%= @field.address.line_two %>
</p>

<p>
  <strong>City:</strong>
  <%= @field.address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @field.address.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @field.address.zip %>
</p>


<%= link_to 'Edit', edit_field_path %>
<%= link_to 'Back', fields_path %>
