<h1 class="page-header">Account</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <section class="card">
    <section class="card-header">
      Email
    </section>
    <section class="card-body">
      <section class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </section>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <section>Currently waiting confirmation for: <%= resource.unconfirmed_email %></section>
      <% end %>
    </section>
  </section>

  <section class="card">
    <section class="card-header">
      Change password
    </section>
    <section class="card-body">
      <section class="form-group">
        <%= f.label :password, "New password" %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </section>
      <section class="form-group">
        <%= f.label :password_confirmation, "New password confirmation" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </section>
    </section>
  </section>

  <section class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </section>

  <section class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </section>
<% end %>

<hr>
<p><%= button_to "Delete account", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %></p>
